*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html {
	line-height: 1.4;
	font-size: 15px;
	font-weight: 400;
<<<<<<< Updated upstream
	background-image: url(images/a1.jpg);
	background-attachment: fixed;
	scroll-behavior: smooth;
	scroll-padding-top: 12rem;
}
a {
	text-decoration: none;
	color: black;
=======
	scroll-behavior: smooth;
	scroll-padding-top: 13rem;
	background-image: url(images/a2.jpg);
	background-attachment: fixed;
}
a{
	text-decoration: none;
}
a:hover {
	opacity: 0.8;
}
.Home:hover {
	transform: scale(1.04);
	border: 1px solid black;
	padding: 9px;
	border-radius: 5px;
>>>>>>> Stashed changes
}
/*---------LOGO-SECTION-----------*/
.Logo_part {
	background-image: url(images/top1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;

}
.container1 {
	max-width: 1400px;
	margin: 0 auto;
}
.container2 {
<<<<<<< Updated upstream
	max-width: 900px;
	margin: 0 auto;
}
.container3 {
	max-width: 1200px;
=======
	max-width: 1000px;
>>>>>>> Stashed changes
	margin: 0 auto;
}
nav {
	display: flex;
	flex-direction: column;
	align-items: center;

}
nav .logo{
	text-align: center;
}
nav img {
	max-width: 50%;
	height: auto;
	border-radius: 50%;
	border: 1px solid black;
	box-shadow: 5px 0px 20px #888888;
}
nav .tag_line {
	font-size: 20px;
	color: antiquewhite;
	border-top: 2px groove navajowhite;
	border-bottom: 2px groove; navajowhite;
	border-radius: 10px;
	padding: 5px 30px;
}


/*----------NAVIGATION SECTION------------*/
.Nav_part {
	background-color: burlywood;
/*	background: rgba(222, 184, 135, 1.1);*/
	box-shadow: 0px 0px 20px #888888;;
	position: sticky;
	top: 0;
	z-index: 100;
}
.buttons {
	display: flex;
	flex-direction: row;
<<<<<<< Updated upstream
	padding: 0px 10px;
=======
	gap: 1px;
>>>>>>> Stashed changes
}
.Home {
	font-size: 20px;
	color: black;
	font-weight: bold;
<<<<<<< Updated upstream
	padding: 7px 12px;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	transition: 0.1s ease-in-out;
}
.Home:hover {
	border-right: 2px solid black;
	border-left:	2px solid black;
	transform: scale(1.04);
	opacity: 0.8;
	transition: 0.1s ease-in-out;
}
.active {
	border-right: 2px solid black;
	border-left:	2px solid black;
=======
	padding: 10px;
}
.page {
	border-left: 3px solid black;
	border-right: 3px solid black;
	/*border-top: 1px solid black;
	border-bottom: 1px solid black*/;
	font-size: 21px;
	border-radius: 5px;
}
.page:hover {
	transform: scale(1.0);
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-top: 0px solid black;
	border-bottom: 0px solid black;
	font-size: 21px;
	padding: 10px;
	border-radius: 5px;
}
.Home a {
	color: black;
>>>>>>> Stashed changes
}
/*-----------MAIN-SECTION---------*/
.top_section {
	background-image: url(images/Untitled.jpeg);
	background-repeat: no-repeat;
<<<<<<< Updated upstream
  background-size: cover;
 	height: 80%;
 	box-shadow: 0px 0px 200px black;
=======
  	background-size: cover;
  	height: 100%;
  	box-shadow: 0px 0px 200px #000000;
>>>>>>> Stashed changes
}
.hero_content {
	padding: 120px 80px;
}
.hero_content h3 {
	max-width: fit-content;
	padding-bottom: 3px;
	font-size: 25px;
	line-height: 1;
	color: darkkhaki;
	border-bottom: 3px solid darkkhaki;
	border-radius: 10px;
}
.hero_content h5 {
	font-size: 20px;
	color: whitesmoke;
	opacity: 0.6;
	padding-bottom: 35px;
}
.hero_content h1 {
	font-size: 70px;
	color: floralwhite;
}
.grid_box_position {
	position: relative;
	top: 120px;
}
.grid_box {

	padding: 30px;
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.grid1:hover {
	transform: scale(1.04);
	transition: 0.5s ease-in-out;
}
.grid1 {
	background-color: floralwhite;
	padding: 10px;
	display: flex;
	align-items: center;
	border-radius: 20px;
	position: relative;
	top: 6.5rem;
	transition: 0.5s ease-in-out;
}
.grid1 .icon {
	padding: 10px;
	font-size: 70px;
}
.grid1 .text {
	font-size: 110%;
}

/*----------------------------------------------*/

.team {
	padding: 5rem 0;
/*	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;*/
}
.line1 {
	position: relative;
	top: 18.5rem;
	width: 31.2%;
}
.line2 {
	position: relative;
	top: 18.5rem;
	left: 64.2rem;
	width: 31.2%;
}
.team h1 {
	padding: 5px 15px;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15rem;
	text-align: center;
	font-size: 60px;
	border-radius: 100px;
	border: 5px solid darkkhaki;
	background-color: rgba(222,184,135,0.6);
	box-shadow: 0px 0px 20px #000000;

}
.team .tag_line {
	font-size: 15px;
	text-align: center;
	max-width: fit-content;
	margin: 4px auto;
	border-bottom: 2px solid #000000;
	font-weight: bold;
	color: darkred;
	opacity: 0.6;
}
.team .tag_line span {
	font-size: 20px;
}
.person {
	text-align: center;
}
.details {
	padding: 50px;
}
.person img {

	width: 15%;
	border-radius: 50%;
	box-shadow: 0px 0px 90px #888888;
	border: 5px solid grey;
	transition: 0.2s ease-in-out;
}
.person img:hover {
	opacity: 0.9;
	transform: scale(1.01);
	transition: 0.2s ease-in-out;
}
.person .name {
	font-size: 30px;
	line-height: 0.9;
	font-weight: bold;
}
.person .post {
	font-size: 18px;
	border-bottom: 3px solid darkkhaki;
	padding-bottom: 5px;
}
.support {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	gap: 70px;
	padding-top: 40px;
}
.support img {
	width: 45%;
}

/*----------------------------------------------*/

.comments {
<<<<<<< Updated upstream
	margin-top: 200px;
	background-image: url(images/brown2.jpg);
=======
	
	background-image: url(images/cmnt_bg.png);
>>>>>>> Stashed changes
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	box-shadow: 0px 0px 90px #000000;
	padding: 40px;
}
.heading {
	padding: 20px;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.comments .heading {
	
	border-bottom: 1px solid black;
	border-radius: 20px;
}

.heading h1 {
	font-size: 50px;
}
.comments .grid_box {
	grid-template-columns:auto auto;
	gap: 30px;
	color: papayawhip;
}
.comments .grid_box .grid1 {
	box-shadow: 0px 0px 40px #888888;
<<<<<<< Updated upstream
	background-color: rgba(1, 1, 1, 0.7);
}
.text h3 {
	font-size: 22px;
}
.text p{
	opacity: 0.8;
	font-size: 17px;
	color: floralwhite;
}
/*-----About our team---------*/
.team {
	margin-top: 10%;
	text-align: center;
}
.heading .text {
	font-size: 55px;
	border: 5px solid brown;
	border-radius: 100px;
	padding: 10px 20px;
	width: 40%;
	color: brown;
	background-color: burlywood;
	box-shadow: 0px 0px 40px black;
}

.left {
	position: relative;
	top: 75px;
	width: 30.61%;
	color: black;
}
.right {
	position: relative;
	left: 69.45%;
	top: 75px;
	width: 30.61%;
	color: black;
}
.heading h5 {
	margin: 10px 0px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 0px 20px;
	border-radius: 15px;
}
.heading h5 span {
	font-size: 25px;
}
.head_member img {
	width: 16%;
	border-radius: 50%;
	border: 5px solid grey;
	box-shadow: 0px 0px 40px black;
	transition: 0.2s ease-in-out;
}
.members img:hover {
	opacity: 0.9;
	transform: scale(1.02);
	transition: 0.2s ease-in-out;
}
.head_member h2
{
	font-size: 43px;
	line-height: 1;
}
.head_member h5 {
	font-size: 15px;
	padding-bottom: 5px;
}
.members p {
	border-top: 2px solid black;
	padding: 2px 0px;
}
.other_members {
	display: flex;
	padding: 70px 0px;
	gap: 30px;
}
.other_members img {
	width: 45%;
	border-radius: 50%;
	border: 5px solid grey;
	box-shadow: 0px 0px 40px black;
	transition: 0.2s ease-in-out;
}
.other_members h2
{
	font-size: 35px;
	line-height: 1;
}
.other_members h5 {
	font-size: 13.5px;
	padding-bottom: 5px;
}
/*-------------Quality section--------*/
.guarantee {
	display: flex;
	margin-top: 8%;
	gap: 10%;
	margin-bottom: 10%;
}
.left_section {
	padding-top:50px ;
}
.left_section h3 {
	border-bottom: 1px solid black;
	color: brown;
	font-size: 25px;
}
.left_section h1 {
	font-size: 60px;
	line-height: 1.4;
	border-top: 1px solid black;
	margin-top: 1px;
}
.left_section p {
	padding: 5px 5px;
	font-size: 17px;
}
.right_section {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 90px;
	padding-right: 100px;
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 105%;
  text-align: center;
}
.name {
	font-size: 17px;
	font-weight: bold;
}
.circle-wrap .circle .mask,.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #9e00b1;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
=======
	background-color: rgba(1, 1, 1, 0.15);
	top: 0px;
>>>>>>> Stashed changes
}

/*--------Promise-section with %-CIRCLES------*/
.promise {
	display: flex;
	justify-content: space-between;
	gap: 10rem;
	padding: 100px;
}
.left_side .ques {
	font-size: 20px;
	font-weight: bold;
	color: brown;
	padding-left: 5px;
	opacity: 0.6;
	border-bottom: 2px solid brown;
	border-radius: 5px;
}
.left_side .tests h1{
	font-size: 350%;
	line-height: 1.25;
}
.left_side .tests p {
	padding:30px 0px;
	font-size: 18px;
}

.right_side {
	display: grid;
	grid-template-columns: auto auto;
	gap: 5rem;
	align-items: center;
	align-self: center;
	text-align: center;
}
.percent .text{
	padding-top: 10px;
	font-size: 17px;

}
.circle-wrap {
/*  margin: 0px auto;*/
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #9e00b1;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}
 
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 10;
  font-weight: 700;
  font-size: 2em;
}



/*---------FOOTER-SECTION----------*/
footer {
	background-color: black;
	color: white;
	box-shadow: 0px 0px 40px #888888;
}
.last_section {
	display: flex;
	grid-template-columns: auto auto;
	gap: 110px;
	padding-bottom: 20px;
}
.brand0 video{
	max-width: 25rem;
}
.brand0 h3 {
	font-size: 40px;
	line-height: 1;
	border-bottom: 4px groove black;
	border-radius: 10px;
	padding: 0px 20px;
}
.brand0 h4 {
	font-size: 30px;
	padding-left: 30px;
}
.brand0 ul {
	padding-left: 60px;
}
.brand0 ul li {
	font-size: 25px;
}
.info_links {
	display: grid;
	grid-template-columns: auto auto 40%;
	padding-top: 40px;
}
.head {
	font-size: 25px;
}
.info_links ul {
	padding-left: 25px;
	font-size: 16px;
}
.information li {
	list-style: none;
}
.information li span {
	padding-left: 31px;
}
.information i{
	padding-right: 20px;
}
.last {
	text-align: center;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.2);
}

<<<<<<< Updated upstream
/*---------ABOUT SECTION/WEBPAGE---------------*/
.team_about {
	background-image: url(images/Untitled.jpeg);
	padding-top: 10%;
	padding-bottom: 5%;
	box-shadow: 0px 0px 90px black;
}
.team_about h5 {
	color: navajowhite;
	border-color: brown;
}
.sub_nav {
	margin-top: 70px;
	max-width: 1100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: floralwhite;
	border-top: 3px solid brown;
	border-bottom: 3px solid brown;
	position: sticky;
	top: 5.8%;
	z-index: 10;
	border-radius: 10px;
}
.nav {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 3px solid transparent;
	transition: 0.1s ease-in-out;
}
.nav:hover {
	border-bottom: 3px solid black;
	transform: scale(1.02);
	transition: 0.1s ease-in-out;
}
.content, .our_team {
	margin-top: 10%;
}
.content .heading {
	background-image: url(images/about/bg.avif);
	background-repeat: no-repeat;
	background-size: cover;
	color: papayawhip;
	padding-top: 50px;
	padding-bottom: 200px;
	border-radius: 40px;
	box-shadow: 0px 0px 40px black;
}
.content .heading h1 {
	font-size: 75px;
}
.img_company img {
	width: 80%;
	position: relative;
	top: -180px;
	margin-bottom: -140px;
	left: 10%;
	border-radius: 40px;
	box-shadow: 0px 0px 40px black;
}
.company_text {
	margin-bottom: 90px;
}
.img_faq1 {
	position: relative;
	top: -350px;
	margin-bottom: -300px;
	left: 69%;
}
.img_faq2 {
	position: relative;
	top: -600px;
	margin-bottom: -500px;
	left: -12%;
}
.grid_items {
	display: grid;
	gap: 5px;
}
.grid_items .grid_text {
	border: 2px solid brown;
	background-color: rgba(222,184,135, 0.3);
	border-radius: 40px;
	padding: 10px 20px;
}
.grid_text .ans {
	display: none;
}
.grid_text .ans {
	padding: 10px 20px;
	border-top: 1px solid lightgrey;
}
.grid_text {
	font-size: 20px;
	font-weight: 500;
}
.grid_text .ques{
	padding-bottom: 10px;
	display: flex;
	gap: 10px;
}
.grid_text .ans:target {
	display: grid;
}

.team_img img {
	width: 60%;
	position: relative;
	top: -13.5rem;
	left: 19%;
	margin-bottom: -13rem;
}
.persons {
	padding: 5rem 0rem;
	/*margin-left: -10rem;
	margin-right: -10rem;*/
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 4rem;
	text-align: center;
}
.man {
	border: 2px solid black;
	padding: 5px 10px;
	border-radius: 40px;
	background-color: rgba(128,128,128, 0.3);
	box-shadow: 0px 0px 20px black;
}
.man .bg {
	padding: 40px 10px;
	background-color: grey;
	border-bottom: 5px solid black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.man .name {
	padding: 10px 0px;
	font-size: 25px;
}
.man .post {
	padding: 10px 0px;
}
.persons img {
	width: 20vh;
	position: relative;
	top: 5.75rem;
	margin-top: -5.75rem;
}
.man .icons {
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 10px 50px;
	border-top: 1px solid black;
=======





/*---------------Improved & Added section for ABOUT US page -------------------*/
.team_about {
	padding: 5rem 0;
	background-image: url(images/Untitled.jpeg);
	box-shadow: 0px 0px 90px grey;
}
.team h2 {
	padding: 5px 30px;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 60px;
	border-radius: 100px;
	border: 5px solid darkkhaki;
	background-color: rgba(222,184,135,0.6);
	box-shadow: 0px 0px 20px #000000;
}
.line1_about {
	position: relative;
	top: 3.5rem;
	width: 38.8%;
}
.line2_about {
	position: relative;
	top: 3.5rem;
	left: 57.1rem;
	width: 38.8%;
}

.sub_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 20px;

	margin-bottom: 30px;
	position: sticky;
	background-color:cornsilk;
	top: 49px;
	z-index: 1;
	
	box-shadow: 0px 0px 50px grey;
	border: 3px solid burlywood;
}
.section {
	font-size: 21px;
	color: black;
	font-weight: bold;
	padding: 0px 13.5%;
	align-items: center;
	border-bottom: 3px solid cornsilk;
}
.section:hover {
	opacity: 0.8;
	transform: scale(1.01);
	border-bottom: 3px solid firebrick;
}
.section:target {
	transform: scale(1.01);
	border-bottom: 3px solid firebrick;
	font-weight: bold;	
}
.section a {
	color: black;
}
.heading_company {
	background-image: url(images/head1.avif);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 250px;
	border-radius: 50px;
}
.heading_company h1 {
	font-size: 70px;
	color: floralwhite;
} 
.About_Company_section {
	padding: 30px;
}
.About_Company_section img {
	position: relative;
	top: -200px;
	left: 25px;
	margin-bottom: -200px;
	width: 95%;
	border-radius: 20px;
	box-shadow: 0px 0px 90px #888888;
	border: 1px solid grey;
	z-index: 0;
}
.first_letter {
	font-size: 80px;
	line-height: 1;
}
.first_word {
	font-size: 30px;
}
.About_Company_section p {
	font-size: 18px;
	padding: 5px 40px;
}

.Faq_section {
	margin-top: 10rem;
	margin-bottom: 10rem;
}
.Faq_section .heading_company {
	padding-bottom: 15%;
}
.Faq_section img {
	position: relative;
	width: 50%;
	top: -19rem;
	left: 40rem;
	margin-bottom: -19rem;
}
.img2 img {
	width: 40%;
	top: -60rem;
	left: -7rem;
	margin-bottom: -50rem;
}
.grid_section {
	display: grid;
	gap: 9px;
	grid-template-columns: 80%;
	padding-left: 10%;
}
.grid .ques a{
	color: black;
}
.grid {
	border-radius: 10px;
	border: 1px solid black;
	font-size: 20px;
	padding: 5px 15px ;
	align-items: center;
	align-self: center;
	background-color: rgba(0, 0, 0, 0.08);
	box-shadow: 0px 0px 10px grey;
}
.grid .hidden p{
	display: none;
	padding-left: 24px;
	padding-bottom: 10px;
}
.grid .hidden p:target {
	display: block;
}
.grid .ques {
	display: flex;
	gap: 9px;
}
.grid p span {
	font-size: 25px;
	font-weight: bolder;

}
.Team_section {
	padding: 30px;
}
.Team_section .design {
	position: relative;
	top: -240px;
	left: 150px;
	margin-bottom: -200px;
	width: 70%;
	z-index: 0;
}
.grid_comment {
	display: grid;
	grid-template-columns: 23% 23% 23% 23%;
	padding: 0 6%;
	gap: 20px;
	text-align: center;
}
.Team_section .profile img {
	width: 80%;
	position: relative;
	top: 7.05rem;
	margin-top: -9rem;
}
.profile .bg {
	background-color: grey;
	padding: 50px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom: 4px solid black;
}
.grid_comment .grid_item {
	border: 1px solid black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	border-radius: 15%;
	background-color: lightgray;
}
.grid_item h3 {
	padding: 15px;
	font-size: 20px;
}
.grid_item {
	transition: 0.2s ease-in-out;
}
.grid_item:hover {
	opacity: 0.8;
	transform: scale(1.04);
	transition: 0.2s ease-in-out;
}
.grid_comment .grid_item h5 {
	padding: 10px 0px;
	font-size: 14px;
}
.grid_item .grid_footer {
	border-top: 2px solid darkgray;
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 10px;
>>>>>>> Stashed changes
}